* {
    padding: 0;
    margin: 0;
}

html, body {
    background: url(../res/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.mainbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px solid rgb(226, 223, 223);
    border-radius: 10px;
    background: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    line-height: 250%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* overflow-y: scroll; */
}

.mainbox > h1 {
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 134, 251);
}

.mainbox > h2 {
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 134, 251);
}

.mainbox > span {
    text-align: center;
    font-size: large;
    color: rgb(0, 102, 190);
}

b {
    font-size: larger;
    color: red;
}

.langBox {
    position: absolute;
    top: 20px;
    right: 20px;
}

.langFlag {
    width: 20px;
    cursor: pointer;
}

.suggestions {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
}

.sites {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 320px;
    height: 100px;
    background-color: rgba(212, 212, 212, 0.176);
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181, 181, 181);
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sites:hover {
    background: rgba(212, 212, 212, 0.462);
}

.sites > h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(96, 96, 96);
    font-size: xx-large;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {

    .sites > img {
        width: 60px;
    }

    .sites > h3 {
        font-size: large;
    }
}